.bg-gray {
  background-color: #F8F5FF;
}

.border-primary {
  border-color: #892CFF;
}

.border-secondary {
  border-color: #00D588;
}

.text-primary {
  color: #892CFF;
}

.text-secondary {
  color: #00D588;
}

.text-dark {
  color: #43454A;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: normal;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.stats span {
  font-size: 0.7rem;
  line-height: 1rem;
}